.env
error.txt
psql.txt
standard.txt
statuscode.txt
studies.txt
quistion.txt
README.md   
workfortomorrow.txt
doc.txt
app.html
app1.html
codeTrash.txt
postgres-secret.yml
postgres-configmap.yml
out.pdf
demoPrograms
notes
.gitignore