# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI/CD ecom-devicemart

on:   # Events
  push:
    branches: [main]
      
  pull_request:
    branches: [main]

jobs:
# Name
  Device-Mart:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go #set up go 
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.1

    - name: Build 
      run: go build -v ./...

    - name: Test # Runnable commands 
      run: go test -v ./...


# # Terminated EC2 instance 

#     - name: Deploy to AWS EC2 instance
#       uses: appleboy/ssh-action@master
#       with:
#         host: ${{secrets.PUBLIC_IP}}
#         username: ubuntu
#         key: ${{secrets.SSH_KEY}}
#         script: |
#           echo "Connected to AWS EC2 instance"
#           cd mainDevicemart/devicemart
#           git pull
#           go build ./cmd/api
#           sudo systemctl restart mainDevicemart.service
